


<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
            <main role="main" class="container"></main>
        {{- partial "header.html" . -}}
        <div id="content">
<div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-sm-7 poem-content">
    <h4>{{.Title}} </h4>{{ .Content }}
    </div>
    </div>

    <footer>
    <p class="poemfooter"><br><br>&copy; {{ now.Format "2006"}} {{ .Site.Title}} </p>
</footer>
        </div>
    
    
    </main>

        </div>

    </body>
</main>
</html>
