<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
            <main role="main" class="container"></main>
        {{- partial "header.html" . -}}
        <div id="content">

        <div class="container">
         <div class="row">
            <div class="spacer col-sm p-3 mb-3 green poemlist rounded text-center">
             <h3 class="col-sm poemheader">Online</h3>

            {{ range .Site.Params.ExternalLink }}
                <p class="poemlink"><a href="{{ .link }}">"{{ .name }}"</a> — <i>{{ .source}}</i></p>
            {{ end }}
            </div>


            <div class="spacer col-sm p-3 mb-3 green poemlist rounded text-center">
                    <h3 class="col-sm poemheader">Archive</h3>
                    {{ range where .Pages "File.Dir" "in" "/poems/" }}
                        <p class="poemlink"><a href="{{ .Permalink }}">"{{ .Title }}"</a></p>
                    {{ end }}
              </div>

        </div>
    </div> 
    </div>
    </body>
</main>
</html>
